
.App {
  min-height: 100vh;
  margin: 5%;
}
.container {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container {
    max-width: 1000px;
  }
}  

#header{
  text-align: left;
  font-size: 30px;
}
.sort{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
}
.menu{
  display: flex;
  margin: 50px 0px 0px 25px;
}
.search{
  width: 35%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid black 2px;
}



