body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(219, 219, 219);
}

.grid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.card{
    background-color: white;
    height: 45vh;
    width: 160px;
    margin: 30px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.color{
    background-color: rgb(154, 164, 177);
    height: 20vh;
    width: 160px;
    position: absolute;
    top: 0px;
}

.name{
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
}
.city{
    padding-top: 20px;
    font-size: 12px;
}

.picture{
    border-radius: 50%;
}

svg{
    height: 16px;
    width: 16px;
    padding: 5px;
}